<nav>
    <header>
        <h1 id="headline">To Do <span>Web App</span></h1>
    </header>
    <ul>
        <li><a href="/home">Home Page</a></li>
        <li><a href="/lists">Your To-Do Lists</a></li>
        <li><a href="/about">About Page</a></li>
    </ul>
    <div class="top-right-links">
        <a href="/signUp">Sign Up</a>
        <a href="/login">Log In</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Log Out</a> 
    </div>
</nav>
