<nav>
    <header>
        <h1 id="headline">To Do Web App</h1>
    </header>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/lists">Your To-Do Lists</a></li>
        <li><a href="/SignUp">Sign Up</a></li>
        <li><a href="/about">About Page</a></li>
    </ul>
</nav>