<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>

        <div class="about-container">
            <h1>About This To-Do List App</h1>
            <p>Hi, my name is Amit, and I am a Computer Science student at the Hebrew University in Jerusalem.</p>
            <p>I created this web application as a project to learn and practice using Node.js, JavaScript, and MongoDB. This app is self-learned and developed through my own study and experimentation.</p>
            <p>This to-do list app helps you organize your tasks efficiently and boost your productivity. I hope you find it useful!</p>
            <p>You can find the source code and more of my projects on my <a href="https://github.com/AmitJ98" target="_blank">GitHub</a>.</p>
        </div>
        
    </body>
</html>


