<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs")  %>
<body>
    
    <%- include("./partials/nav.ejs")  %>

    <div class="home-page-headline">
        <h2>This is a website where you can create your own to-do list</h2>
    </div>

    <div class="task-form">
        <form>
            <label for="newTask"><strong>Enter New Task:</strong></label>
            <input type="text" id="newTask" name="newTask">
            <button type="submit">Add Task</button>
        </form>
    </div>

    <div class="task-list">
        <h2>Your Tasks</h2>
        <ul>
            <li>First Task</li>
            <li>Second Task</li>
            <li>Third Task</li>
            <li>Fourth Task</li>
        </ul>
    </div>
</body>
</html>
