<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/public/styles.css">
        <title>To Do Web App</title> <!-- the title of the tab  -->
    </head>

    <body> <!-- the body of the web page  -->

        <div> <!-- diffrent devition in the code   -->
            <strong><h1>This is a web site that you can create a to do list for yourself</h1></strong>
        </div>

        <div>
            <form>
                <label for="newTask"><strong>Enter New Task:</strong> </label>
                <input type = "text" id = "newTask" name="newTask">
            </form>
        </div>


        <div>
            <ul> <!-- This is usend for list  -->
                <li><h2>First Task</h2></li> 
                <li><h2>Second Task</h2></li>
                <li><h2>Third Task</h2></li>
                <li><h2>Fourth Task</h2></li>
            </ul>
        </div>

        <div>
            <a href="/About"><h3> link to About Page </h3> </a>
        </div>

        <div>
            <a href="/SignUp"><h3> link to SignUp Page </h3> </a>
        </div>

    </body>








</html>