<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs")  %>
<body>
    
    <%- include("./partials/nav.ejs")  %>

    <div class="home-page-headline">
        <h2><%= uname %></h2>
        <h2>This is a website where you can create your own to-do list</h2>
    </div>

</body>
</html>
