<!DOCTYPE html>
<html>
    
    <%- include("./partials/head.ejs")  %>
    <link rel="stylesheet" href="/public/sign_up_form.css">
    <script src="/scripts/new_user_validation.js"></script>

    <body>
        <%- include("./partials/nav.ejs")  %>

        <div class="container">
            <h2>User Sign Up</h2>
            <form action="/signUp" method="post" onsubmit="return validate_new_user_form()">
                <label for="Name">First Name:</label>
                <input type="text" id="Name" name="Name" required>
    
                <label for="Lastname">Last Name:</label>
                <input type="text" id="Lastname" name="Lastname" required>
    
                <label for="Username">Username:</label>
                <input type="text" id="UserName" name="UserName" required>
    
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="Password" required minlength="7">
    
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
    
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email" required>
    
                <label for="location">Location:</label>
                <select id="location" name="location" required>
                    <option value="" disabled selected>Select your location</option>
                    <option value="Houston">Israel</option>
                    <option value="New York">New York</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Houston">Houston</option>
                </select>
    
                <input type="submit" value="Sign Up">
            </form>
        </div>
        
    </body>

</html>