<!DOCTYPE html>
<html>
    <head>
        <title>To Do Web App</title>
    </head>

    <body>
        <h1>Sign Up Page</h1>
        <div>
            <a href="/"><h3> link to Home Page </h3> </a>
        </div>

        <div>
            <form>
                <label for="email">Enter email adress:</label>
                <input type="email" id="email" name="email" placeholder="Email Adress" required>

                <br><br>

                <label for="username">Enter Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" required>

                <br><br>

                <label for="password">Enter an Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <p>Select your age: </p>

                <input type="radio" name="age" value="0-18" id="option-1">
                <label for="option-1">0-18</label>
                <br>
                <input type="radio" name="age" value="19-40" id="option-2">
                <label for="option-2">19-40</label>
                <br>
                <input type="radio" name="age" value="41-60" id="option-3">
                <label for="option-3">41-60</label>
                <br>
                <input type="radio" name="age" value="60+" id="option-4">
                <label for="option-4">60+</label>
                
                <br><br><br>

                <label for="location"> choose a location </label>
                <select name="location" id="location">
                    <option value="Israel"> IL </option>
                    <option value="United States"> US </option>
                    <option value="United Kindom"> UK </option>
                </select>

                <br><br><br>

                <input type="submit" value="SignUp">


            </form>



        </div>


    </body>


</html>