/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style header */
header {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
}

#headline {
    font-size: 36px;
    color: #333;
    text-transform: uppercase; /* Convert text to uppercase */
    margin-bottom: 10px; /* Add some space below the headline */
}

#headline span {
    color: #ff5252; /* Change color of "Web App" */
}

/* Style navigation */
nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease; /* Add smooth color transition */
}

nav ul li a:hover {
    color: #ffcc00; /* Change text color on hover */
}

.top-right-links {
    display: flex;
    align-items: center;
}

.top-right-links a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease; /* Add smooth background color transition */
}

.top-right-links a:hover {
    background-color: #ffcc00; /* Change background color on hover */
}
